html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	text-align: center;
	margin: 0 5%;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.center {
	grid-column: 2 / 3;
}

.gameboard {
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	grid-template-rows: repeat(9, 1fr);
	gap: 1px;
	border: 1px solid black;
	background-color: black;
	aspect-ratio: 1 / 1;
	width: min(100%, 65vmin);
}

.space {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: xxx-large;
	background-color: white;
	user-select: none;
}

.hit {
	background-color: #ffcccc;
}

.miss {
	background-color: #cccccc;
}

.hidden {
	display: none;
}
